@{

    Layout = "~/Administration/Views/Shared/_Layout.cshtml";
}

<div class="content_body" align="center">
    <div style="width: 1217px; height:100px" align="center">
        <div style="padding-top: 10px; width: 966px; height: 50px">
            <div class="content_top" >
            </div>
            <div id="contentmiddle" class="content_middle" style="height: 50px;">
                <div class="sub_title">
                   Access Denied!!!!!   You Permission is prohibited!!!!!
                </div>
            </div>
            </div>
        </div>
    </div>
