@Html.Raw(HttpUtility.HtmlDecode(@ViewBag.PageBody))

<span id="heading_info" style="display:none;"><b style="color:#fff;">@ViewBag.PageContent </b></span>

<script>
    $(document).ready(function () {
        $(".ui-dialog-titlebar span").html($("#heading_info").html());
    })
</script>



