Page Help Not Found

<span id="heading_info" style="display:none;"><b style="color:#FFF;">Page Help Not Found </b></span>

<script>
    $(document).ready(function () {
        $(".ui-dialog-titlebar span").html($("#heading_info").html());
    })
</script>




