@model Hm.Admin.Models.Entry.QuotationCriteria
@using Hm.Web.Framework.Extention
<div id="invoice_Serch_criteria" class="criteria" data-url="/Report/ReportWebForm/Quotation.aspx?">
    @using (Html.BeginForm("ShowInvoiceReport", "AS120_AptReports_list", new { @class = "searchCriteria" }))
    {
        <div class="inner_Cont">
            <div> <span> Invoice Start Date: </span> <span>@Html.TextBox("InvoiceStartDate", @Model.QuotationStartDate.FormatDate(), new { @class = "popuproletxtbox datepicker " }) </span></div>
            <div> <span> Invoice End Date: </span> <span>@Html.TextBox("InvoiceEndDate", @Model.QuotationEndDate.FormatDate(), new { @class = "popuproletxtbox datepicker " }) </span></div>
            <div class="report_submit"> <input type="submit" name="btn_Submit" value="Prepare Report" title="Click to Save " style="width:100px;"></div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        showdatetimepicker(".datepicker", "no", "mindate");
        $(".criteria form").submit(function (e) {
            e.preventDefault();
            $("#tabs").tabs({ active: 1 });
            $("#iframe1").attr("src", $(".criteria").data('url') + $(".criteria form").serialize());
        })
    })
</script>

