@using PagedList;
@using PagedList.Mvc;
@using Hm.Admin.Helper;
@{
    ViewBag.Title = "Supplier Details Page";
    Layout = "~/Administration/Views/Shared/_LayoutNew.cshtml";   
}

<div class="sub_title" style=" padding-left: 0px; font-size: 20px;">
    Supplier details
</div>

<div id="tabs" style="width: 970px;">
    <ul>
        <li><a href="@Url.Action("List")">List</a></li>
        <li><a href="@Url.Action("Create")">Create / Update</a></li>
    </ul>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/validatedate")

<script>
    $(document).ready(function () {
        $("#tabs").tabs({
            cache: true,
            beforeLoad: function (event, ui) {
                ui.panel.html('Loading ..............');
            }
        })
    });
</script>



